/*
Theme Name: Child Theme of Arras
Theme URI: http://www.arrastheme.com/
Description: Child theme for the Arras for WordPress
Author: Creature
Author URI: http://www.arrastheme.com/
Template: arras-theme
Version: 1.0
.
For more information on how to create and use child themes:
http://codex.wordpress.org/Child_Themes

Any CSS code written below will override any existing
declarations from the theme itself.
.
*/
