/* globals */
body					{ background-color: #F0F0F0; color: #333; font: 12px 'Lucida Grande',Arial,Helvetica,sans-serif; height: 100%; min-height: 100%; }

h1, h2, h3, h4, h5, h6	{ font-weight: bold; color: #1E1B1A; }

.clearfix:after			{ clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.clearfix				{ display: inline-block; }
html[xmlns] .clearfix	{ display: block; }
* html .clearfix		{ height: 1%; }

:focus					{ -moz-outline-style: none; }

a, a:link, a:visited	{ color: #0052A3; text-decoration: underline; }
a:hover					{ color: #1A8DFF; }

p						{ line-height: 1.5em; margin: 0 0 1.25em; }
blockquote				{ border-left: 2px solid #CCC; color: #666; padding: 5px 10px 1px; font-style: normal; }
blockquote p:last-child	{ margin: 0 0 5px; }
code					{ background: #EAEAEA; color: #333; font-family: Consolas, Monaco, Courier, monospace; font-size: 11px; margin: 1px 0; padding: 1px 3px; }
pre code				{ background: #322E2C; border: 1px solid #635957; color: #FFF; display: block; overflow: scroll; padding: 1.5em 1.75em; }

input[type=text], input[type=password], textarea	{ background: url(../../images/form.jpg) repeat-x top #FFF; border: 1px solid #CCC; padding: 3px; }
input[type=submit], #wp-email-submit    { font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; background: url(../../images/feed-title-white.jpg) repeat-x; border: 1px solid #CCC; padding: 5px 10px; font-size: 12px; color: #000; font-weight: bold; }
input[type=submit]:hover, #wp-email-submit:hover    { background: #314E6A; color: #FFF; }

table					{ border-collapse: collapse; border-spacing: 0; border: 1px solid #CCC; }
th, td					{ padding: 5px; border: 1px solid #CCC; border-width: 1px; }
th, thead th			{ font-weight: bold; color: #333; background: url(../../images/topnav.jpg) repeat-x top #CCC; }
td, tbody td			{ background: #F0F0F0; }

/* common classes */
.aligncenter			{ display: block; margin: 0 auto; }
.alignright				{ float: right; margin: 0 0 1em 1em; }
.alignleft				{ float: left; margin: 0 1em 1em 0; }
.floatleft				{ float: left; }
.floatright				{ float: right; }
img.aligncenter, img.alignright, 
img.alignleft			{ border: 3px solid #EEE; }

.textcenter				{ text-align: center; }
.textright				{ text-align: right; }
.textleft				{ text-align: left; }

.noticebox				{ background-color: #fff9d7; border: 1px solid #e2c822; color: #333; margin-bottom: 20px; padding: 10px; }
.noticebox a			{ color: #000; }

.sub					{ font-size: 11px; color: #848485; }

.ui-tabs-hide, .hide	{ display: none !important; }

.wp-caption { border: 1px solid #DDD; text-align: center; background: #F3F3F3; padding-top: 4px; margin: 10px }
.wp-caption img { margin: 0; padding: 0; border: none }
.wp-caption .wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0 }

.tags a:link, .tags a:visited	{ font-weight: bold; text-decoration: none; padding: 0 2px; background: #FFF; margin-bottom: 3px; }

.xoxo					{ padding: 0; }
.arras					{ color: #383332 !important; }

/* structure */
#wrapper				{ min-height: 100%; position: relative; }
#outer					{ padding: 20px 0; }
#main					{ padding: 10px 10px 0; background: #f5f5f5; border: 1px solid #ccc; }
/*#main { background: url(../../images/12_col.gif); } */

/* header */
#header					{ background: #1e1b1a; border-bottom: 5px solid #383332; padding: 0; }
#branding				{ width: 980px; margin: 0 auto; padding: 0 0 20px; }
.logo					{ max-width: 590px; float: left; margin: 21px 0 0 10px; }
.blog-name				{ font-family: 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 22px; margin: 0 0 3px; line-height: 1em; display: block; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; }
.blog-name a:link, .blog-name a:visited	{ color: #FFF; text-decoration: none; }
/*.blog-name a:link, .blog-name a:visited	{  text-indent: -9000px; background: url(../../images/icons/logo.png) no-repeat; width: 450px; height: 22px; display: block; }*/
.blog-description		{ font-family: 'Segoe UI', Arial, Helvetica, sans-serif; line-height: 1em; display: block; font-size: 11px; font-weight: bold; color: #7d716d; margin: 0; padding: 3px 0 0; text-transform: uppercase; }

/* navigation */
#nav					{ zoom: 1; max-height: 32px; background: url(../../images/postbar.jpg) repeat-x top #e5e5e5; border: 1px solid #CCC; }
#nav-content			{ margin: 0 auto; width: 978px; }

.sf-menu				{ font-weight: bold; max-width: 770px; }
.sf-menu, .sf-menu ul	{ float: left; list-style: none; line-height: 31px; padding: 0 0 2px; margin: 0; height: 32px; }
.sf-menu a				{ display: block; text-decoration: none; padding: 0 10px; color: #777; font-size: 12px;  }
.sf-menu a:hover		{ color: #000; }
.sf-menu li.sfhover, .sf-menu li:hover { background: url(../../images/content-bg.jpg) repeat-x top #FFF; }
.sf-menu li				{ float: left; padding: 0; }
.sf-menu ul				{ position: absolute; left: -999em; height: auto; width: 150px; margin: 0; line-height: 1; border: none; }
.sf-menu li li			{ width: 148px; }
.sf-menu li li a		{ background: #FFF; padding: 7px 10px; width: 128px; font-size: 12px; text-transform: none; }
.sf-menu li ul ul		{ margin: -25px 0 0 148px; }
.sf-menu li:hover ul ul, .sf-menu li:hover ul ul ul, .sf-menu li:hover ul ul ul ul, .sf-menu li.sfhover ul ul, .sf-menu li.sfhover ul ul ul, .sf-menu li.sfhover ul ul ul ul { left: -999em; }
.sf-menu li:hover ul, .sf-menu li li:hover ul, .sf-menu li li li:hover ul, .sf-menu li li li li:hover ul, .sf-menu li.sfhover ul, .sf-menu li li.sfhover ul, .sf-menu li li li.sfhover ul, .sf-menu li li li li.sfhover ul { left: auto; z-index: 2; }
.sf-menu li ul li:hover a, .sf-menu li ul li li:hover a, .sf-menu li ul li li li:hover a, .sf-menu li ul li li li:hover a { background: #fff; color: #777; }
.sf-menu li:hover li a, .sf-menu li li:hover li a, .sf-menu li li li:hover li a, .sf-menu li li li li:hover li a { background: #f5f5f5; color: #666; font-size: 11px; }

.quick-nav				{ float: right; list-style: none; margin: 0; padding: 0; }
.quick-nav li			{ padding: 7px 5px 0 0; float: left; display: inline; }
.quick-nav a:link, .quick-nav a:visited	{ display: block; text-indent: -9000px; width: 16px; height: 16px; float: left; clear: left; }

.quick-nav #rss			{ background: url(../../images/rss.png) no-repeat; }
.quick-nav #twitter		{ background: url(../../images/twitter.png) no-repeat; }

/* search bar */
#searchbar				{ float: right; overflow: hidden; margin: 25px 0 0; }
.searchform .s			{ font-family: 'Lucida Grande', Arial, Helvetica, sans-serif; font-size: 14px; border: none; background: #EFEFEF; padding: 6px 3px 5px; margin: 1px 5px 0 0; float: left; width: 250px; }
.searchform .searchsubmit { float: left; cursor: pointer; border: 1px solid #333; background: url(../../images/postbar.gif) repeat-x; color: #FFF; }
.searchform .searchsubmit:hover { background: #FFF; color: #383332; }

/* sidebar */
.sidebar .xoxo			{ list-style: none; padding: 0; margin: 0; }
.widgetcontainer ul, .widgetcontent .xoxo, .widgetcontainer ol	{ list-style: disc; margin: 0 0 0 15px; padding: 0; }
.widgetcontainer li		{ margin: 3px 0; }
.widgetcontainer li a:visited, .widgetcontainer li a:link	{ text-decoration: none; font-weight: bold; font-size: 12px; }
.widgetcontainer li a:hover	{ border-bottom: 1px dotted #635957; }
.widgetcontainer input[type=text], .widgetcontainer input[type=password]	{ width: 80%; }
.widgetcontainer .excerpt	{ font-size: 11px; margin: 5px 0; }
.widgettitle			{ color: #333; font-size: 12px; font-weight: bold; margin: 0; padding: 6px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }
.widgettitle a			{ color: #333; }
.widgetcontent			{ border: solid #CCC; border-width: 0 1px 1px; background: url(../../images/content-bg.jpg) top repeat-x #FFF; margin-bottom: 10px; padding: 10px; line-height: 1.4em; }

.attachment-sidebar-thumb, .multi-sidebar .recentcomments .avatar	{ float: left; border: 3px solid #CCC; width: 36px; height: 36px; margin: 0 10px 0 0; }
.sidebar-read-more:link, .sidebar-read-more:visited	{ font-size: 11px !important; text-transform: uppercase; font-weight: bold; color: #000; }

.multi-sidebar .tabs	{ list-style: none; margin: 0 0 5px; padding: 0; overflow: hidden; }
.multi-sidebar .tabs li	{ float: left; background: #0052A3; padding: 5px; margin: 0 3px 5px 0; border: 1px solid #CCC; }
.multi-sidebar .tabs a:link, .multi-sidebar .tabs a:visited	{ text-decoration: none; font-weight: bold; color: #FFF; }
.multi-sidebar .tabs a:hover	{ border-bottom: 1px dotted #FFF; }
.multi-sidebar .tabs .ui-tabs-selected	{ background: #FFF; }					
.multi-sidebar .tabs .ui-tabs-selected a:link, .multi-sidebar .tabs .ui-tabs-selected a:visited	{ color: #37322F; }			
.multi-sidebar #s-tags a:link, .multi-sidebar #s-tags a:visited	{ font-weight: bold; text-decoration: none; padding: 0 2px; }
.multi-sidebar .widgetcontainer	{ background: url(../../images/content-bg.jpg) top repeat-x #FFF; border: 1px solid #CCC; margin-bottom: 10px; padding: 10px; }
.multi-sidebar .widgetcontainer ul, .featured-stories, .related-posts	{ list-style: none !important; margin: 0 0 0 5px !important; }
.multi-sidebar .widgetcontainer li, .featured-stories li,  .related-posts li	{ padding: 0 0 10px; margin: 0 0 10px; border-bottom: 1px dotted #CCC; }
.multi-sidebar .recentcomments a	{ font-weight: normal; }

#wp-calendar			{ width: 100%; }
#wp-calendar caption	{ color: #333; font-size: 12px; font-weight: bold; margin: 0 0 0 -1px; padding: 6px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }
						
/* featured slideshow */
.featured				{ margin: 0 10px 20px 0; height: 250px; border: 5px solid #CCC; }
#controls				{ position: relative; float: left; z-index: 100; top: 90px;  }

#controls .next, #controls .prev	{ text-indent: -9000px; width: 30px; height: 30px; display: block; z-index: 1000; opacity: 0.7; }
#controls .prev			{ background: url(../../images/prev.png) no-repeat; float: left; position: absolute; left: 5px; }
#controls .next			{ background: url(../../images/next.png) no-repeat; float: right; position: absolute; left: 605px; }
#controls .next:hover, #controls .prev:hover	{ opacity: 1; }

#featured-slideshow		{ position: relative; height: 250px; margin-right: 20px; }			

.featured-article		{ display: block; width: 640px; height: 250px; text-decoration: none !important; }
.featured-entry			{ position: relative; top: 165px; overflow: hidden; background: #000; height: 85px; color: #a7a7a7; padding: 0; display: block; opacity: 0.8; filter: alpha(opacity = 80); }
.featured-entry .entry-title	{ color: #FFF; padding: 10px 15px 5px; display: block; font-size: 18px; font-weight: bold; }
.featured-entry .entry-summary	{ padding: 0 15px; margin: 0; display: block; }

/* bottom content */
#bottom-content-1, #bottom-content-2	{ list-style: none; float: left; width: 320px; margin: 0 10px 10px 0; overflow: hidden; padding: 0; }
#bottom-content-1 .xoxo, #bottom-content-2 .xoxo	{ margin: 0; }
#bottom-content-1 * .xoxo, #bottom-content-2 * .xoxo{ margin-left: 15px; }
#bottom-content-1 .widgettitle, #bottom-content-2 .widgettitle	{ background: #F0F0F0; }

.layout-3c-r-fixed #bottom-content-1, .layout-3c-r-fixed #bottom-content-2, .layout-3c-fixed #bottom-content-1, .layout-3c-fixed #bottom-content-2	{ width: 243px; }

/* latest headlines */
.posts-default, .posts-quick, .posts-line	{ list-style: none; margin: 0 0 20px; padding: 0; overflow: hidden; }
.posts-default .post	{ float: left; margin: 0 3px 3px 0; font-size: 12px; padding: 5px 5px 10px; }
.posts-default img		{ float: left; background: #111; }
.posts-default .entry-title	{ font-weight: bold; font-size: 12px; margin: 5px 0; line-height: 1.3em; }
.posts-default .entry-title a:link, .posts-default .entry-title a:visited	{ color: #0052A3; text-decoration: none; }
.posts-default .entry-summary, .posts-quick .entry-summary	{ color: #111; overflow: hidden; }
.posts-default .entry-summary	{ font-size: 11px; }
.no-js .posts-default .entry-summary	{ height: 58px; }

.entry-thumbnails	{ clear: both; display: inline-block; border: 1px solid #CCC; }
.entry-thumbnails:hover	{ border-color: #383332; }
.entry-thumbnails-link { float: left; margin-right: 15px; background: #111; display: block; }

.posts-quick			{ margin: 0 10px 10px 0; padding: 0; }
.posts-quick li			{ padding: 10px 10px 0 0; border-bottom: 1px solid #CCC; }
.posts-quick img		{ text-indent: -9000px; }
.posts-quick .entry-title	{ font-weight: bold; font-size: 16px; margin: 0 0 5px; line-height: 1.3em; }
.posts-quick .entry-title a:link, .posts-quick .entry-title a:visited	{ color: #0052A3; text-decoration: none; }
.posts-quick .entry-summary	{ font-size: 12px; line-height: 1.6em; margin-bottom: 15px; }
.posts-quick .quick-read-more	{ font-weight: bold; font-size: 12px; padding: 10px 0 0; margin: 0; }
.posts-quick .entry-thumbnails	{ float: left; margin: 0 15px 10px 0; border: 3px solid #C1BCA7; }
.posts-quick .entry-thumbnails:hover	{ border-color: #383332; }
.posts-default .entry-meta, .posts-quick .entry-meta	{ color: #CCC; float: left; background: #000; height: 25px; display: block; margin: -25px 1px 0 0; font-weight: bold; opacity: 0.7; }
.posts-default .entry-meta a:link, .posts-default .entry-meta a:visited, .posts-quick .entry-meta a:link, .posts-quick .entry-meta a:visited	{ color: #FFF; text-decoration: none; }
.posts-default .entry-comments, .posts-quick .entry-comments { float: right; margin: 5px 5px 0; background: url(../../images/comments.gif) no-repeat left center; padding: 0 0 0 12px; }
.posts-default .published, .posts-quick .published	{ text-transform: uppercase; float: left; margin: 5px 5px 0; font-size: 10px; color: #999; border-bottom: none; }
.posts-line				{ background: #FFF; border: 1px solid #CCC; margin: 0 10px 10px 0; padding: 10px; }
.posts-line	li			{ padding: 7px 0; border-bottom: 1px solid #EEE; }
.posts-line .entry-cat	{ float: left; font-size: 11px; width: 100px; overflow: hidden; color: #848485; }
.posts-line .entry-title	{ float: left; font-size: 12px; margin: 0; }
.posts-line a:link, .posts-line a:visited	{ color: #373331; }
.posts-line .entry-comments	{ float: right; font-size: 11px; color: #848485; }

.navigation				{ margin: 10px 10px 0 0; }

.home-title				{ text-transform: uppercase; font-weight: bold; font-size: 14px; padding: 0 0 5px; border-bottom: 1px solid #BBB; margin: 0 10px 10px 0; color: #646465; }

/* single post */
.single .post, .single-post	{ background: url(../../images/content-bg.jpg) repeat-x top #FFF; border: 1px solid #CCC; margin: 0 10px 10px 0; padding: 0 15px; }
.single .post .entry-title, .single-post .entry-title	{ font-size: 22px; font-weight: bold; padding: 10px 0 0; margin: 10px 0 5px; }
.single .post .entry-title a:link, .single .post .entry-title a:visited, .single-post .entry-title a:link, .single-post .entry-title a:visited	{ text-decoration: none; }
.single .post .entry-info, .single-post .entry-info	{ margin-bottom: 15px; color: #848485; }
.single .post .entry-cat, .single-post .entry-cat	{ display: block; color: #848485; margin: 5px 0; }
.single .post .entry-author, .single-post .entry-author { font-weight: bold; margin: 0 10px 0 0; color: #848485; }
.single .post .entry-author address, .single-post .entry-author address	{ display: inline; font-style: normal; }
.single .post .tags, .single-post .tags			{ display: block; margin: 5px 0; color: #848485; }
.single .post .entry-photo, .single-post .entry-photo	{ width: 616px; margin: 10px 0; overflow: hidden; border: 1px solid #CCC; }
.single .post .entry-content, .single-post .entry-content	{ margin: 20px 0; font-size: 12px; }
.single .post .entry-content p, .single-post .entry-content p	{ line-height: 1.8em; }
.entry-content ul, .entry-content ol	{ padding: 0 1.5em 0.5em; }
.entry-content ul li, .entry-content ol li	{ margin: 0.5em 0; }
.entry-content h3 { font-size: 16px; }
.entry-content form { margin: 1em 0; }
.post-edit-link:link, .post-edit-link:visited	{ text-decoration: none; padding: 0 0 0 14px; }

.single-post 			{ padding: 0 10px; }
.page .entry-content	{ margin: 0 0 20px; }

.layout-3c-r-fixed .post .entry-photo, .layout-3c-r-fixed .single-post .entry-photo, .layout-3c-fixed .post .entry-photo, .layout-3c-fixed .single-post .entry-photo	{ width: 480px; }

.single-post-meta-field { background: #0052A3; display: block; border: 1px solid #1A8DFF; padding: 5px 10px; color: #FFF; font-weight: 700; }
.single-post-meta-value	{ border: 1px solid #CCC; padding: 5px 10px; background: #F0F0F0; display: block; }

.module-title, .feed-title	{ line-height: 1em; color: #333; font-size: 12px; font-weight: bold; margin: 0 10px 0 0; padding: 7px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; display: block; }
.feed-title				{ border-bottom: none; }

.gallery				{ clear: both; margin: 10px 0; }
.gallery-item			{ float: left; margin-right: 10px; }

.about-author			{ border: 1px solid #CCC; padding: 10px 15px; margin: 0 0 10px; line-height: 1.5em; background: #FFF; font-size: 11px; }
.about-author h4		{ font-size: 10px; margin: 0 0 10px; text-transform: uppercase; color: #333; font-weight: bold; }
.about-author img		{ float: left; margin: 0 10px 10px 0; border: 1px solid #CCC; padding: 0; }

/* gd star rating */
.gdmultitable			{ margin: 0 0 10px !important; }
.gdmultitable td		{ padding: 5px !important; }

/* wp-pagenavi */
.wp-pagenavi			{ margin: 0 0 10px; font-size: 12px; }
.wp-pagenavi a:link, .wp-pagenavi a:visited	{ padding: 3px 4px; margin: 2px; text-decoration: none; background: #FFF; border: 1px solid #CCC !important; }
.wp-pagenavi a:hover	{ color: #000; }
.wp-pagenavi span.pages, .wp-pagenavi span.extend	{ padding: 3px 4px; background: #FFF; margin: 2px; border: 1px solid #CCC !important; }
.wp-pagenavi span.current	{ padding: 3px 4px; background: #FFF; margin: 2px; font-weight: bold; border: 1px solid #CCC !important; }
.wp-pagenavi span.pages	{ margin-left: 0; }

/* wp125 */
#wp125adwrap_2c			{ width: 270px !important; display: inline-block; padding: 8px 0 2px 8px; margin: 0 auto !important; }
#wp125adwrap_2c .wp125ad{ padding: 0 !important; margin: 0 10px 10px 0 !important; }
#wp125adwrap_2c:after	{ clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
html[xmlns] #wp125adwrap_2c	{ display: block; }
* html #wp125adwrap_2c	{ height: 1%; }

/* comments */
#commentlist			{ background: #F3F3F3; border: solid #CCC; border-width: 0 1px 1px; list-style: none; padding: 10px; margin: 0 10px 0 0; }
#commentlist li			{ margin: 0; padding-bottom: 10px; overflow: hidden; }
#commentlist li:last-child	{ padding: 0; }
#commentlist .avatar	{ border: 1px solid #CCC; padding: 1px; float: left; margin: 0 5px 10px 0; }
#commentlist cite		{ font-weight: bold; font-style: normal; line-height: 20px; font-size: 12px; }
#commentlist p			{ clear: left; line-height: 1.8em; }
#commentlist .reply		{ float: right; }

#commentlist .children	{ clear: right; margin: 5px 0 0; list-style: none; padding: 0; }
#commentlist .children li	{ border-bottom: none; border-left: 1px solid #BBB; padding: 0 0 0 10px; }
#commentlist #respond	{ clear: both; padding: 10px 0 0; border-top: 1px solid #CCC; }
#commentlist #respond .module-title { margin: 0; background: url(../../images/feed-title-blue.jpg) top repeat-x; color: #FFF; border: 1px solid #0052A3; }
#commentlist #respond #commentsform	{ margin: 0; }
#commentlist .comment-author	{ padding: 10px 0 0 10px;}
#commentlist .comment-content	{ padding: 0 10px; font-size: 12px; }
#commentlist .comment-node	{ background: #FFF; border: 1px solid #EEE; }
#commentlist .comment-meta	{ text-decoration: none; color: #999; font-size: 11px; }
#commentlist .comment-controls	{ background: #FFF; padding: 10px; font-weight: bold; float: right; display: none; }
#commentlist .comment-node:hover .comment-controls { display: block; }
#commentlist .comment-controls a:link, #commentlist .comment-controls a:visited	{ background: url(../../images/feed-title-white.jpg) top repeat-x #EFEFEF; color: #000; text-decoration: none; padding: 5px 10px; margin: 0; border: 1px solid #CCC; font-weight: bold; zoom: 1; *display: inline; display: inline-block; }
#commentlist .comment-controls a:hover	{ background: #314E6A; color: #FFF; }

#commentlist .reply a, .comments-navigation a, .read-more, .navigation a	{ background: url(../../images/feed-title-white.jpg) top repeat-x #EFEFEF; color: #000; text-decoration: none; padding: 5px 10px; margin: 0; border: 1px solid #CCC; font-weight: bold; zoom: 1; *display: inline; display: inline-block; }
#commentlist .reply a:hover, .comments-navigation a:hover, .navigation a:hover, .read-more:hover	{ background: #314E6A; color: #FFF; }

.comments-navigation	{ clear: both; margin: 0 20px 10px 10px; }
.comments-navigation a	{ border-top: 0; }

.nocomments				{ background: url(../../images/content-bg.jpg) repeat-x top #FFF; border: solid #CCC; border-width: 0 1px 1px; padding: 15px 10px; margin: 0 10px 10px 0; font-size: 12px; }

#commentsform			{ background: url(../../images/content-bg.jpg) repeat-x top #FFF; border: solid #CCC; border-width: 0 1px 1px; margin: 0 10px 10px 0; padding: 10px; overflow: hidden; }
#commentsform textarea	{ width: 98%; height: 150px; padding: 5px; font: 12px 'Lucida Grande',Arial,Helvetica,sans-serif; }
#commentsform .error	{ display: block; padding: 5px; }
#cancel-comment-reply-link	{ font-size: 11px; padding: 0 10px; }

.pingbacks				{ background: #FFF; border: solid #CCC; border-width: 0 1px 1px; padding: 15px 10px 15px 30px; margin: 0 10px 20px 0; }
.pingbacks li			{ padding: 2px 0; font-weight: bold; }
.pingbacks a:link, .pingbacks a:visited	{ text-decoration: none; }

/* search results */
.search-results h2      { color: #333; font-size: 12px; font-weight: bold; margin: 0 10px 0 0; padding: 6px 10px; background: url(../../images/feed-title-white.jpg) repeat-x top #EFEFEF; border: 1px solid #CCC; }
.search-results-content { border: solid #CCC; border-width: 0 1px 1px; background: #FFF; margin: 0 10px 10px 0; padding: 10px; }
.search-results-content .searchform, .sidebar .searchform { padding: 5px 4px; border: 4px solid #CCC; background: #EFEFEF; width: 250px; }

/* footer */
#footer				{ margin: 5px auto; width: 980px; background: #FFF; padding-bottom: 10px; border: 1px solid #CCC; }
#footer .widgetcontainer	{ padding: 5px 10px; min-width: 150px; }
.no-js #footer .widgetcontainer { height: 190px; }
#footer .widgettitle	{ background: none; border: none; font-size: 11px; color: #444; padding: 0 0 10px; text-transform: uppercase; }
#footer .widgetcontent	{ font-size: 11px; background: none; padding: 0; border: none; }
#footer .footer-message	{ margin: 0; padding: 10px 15px 0; font-size: 11px; }
#footer .footer-message p { margin: 0 0 0.5em; }
#footer-sidebar		{ overflow: hidden; margin: 10px 10px 0; padding: 0 0 10px; border-bottom: 1px solid #CCC; }
#footer-sidebar .widgetcontainer	{ float: left; margin: 0; max-width: 250px; }
#footer-sidebar ul	{ list-style: none; margin: 0; padding: 0; }
#footer-sidebar li	{ margin: 0 0 3px; }

